<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon.svg">
    {{ $cssURL :=
    "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown.min.css" }} {{
    if eq .Mode "dark" }} {{ $cssURL =
    "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-dark.min.css"
    }} {{ else if eq .Mode "light" }} {{ $cssURL =
    "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-light.min.css"
    }}{{ end }}
    <link rel="stylesheet" href="{{ $cssURL }}" />
    <style>
      {{ if eq .Mode "dark" }}
      body {
          background-color: #0d1117;
          color: #c9d1d9;
        }
      {{ else if eq .Mode "light" }}
      {{ else }}
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #0d1117;
          color: #c9d1d9;
        }
      }
      {{ end }}
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 920px;
        margin: 0 auto;
        padding: 45px;
      }
      .copy-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: #212830;
        border: 1px solid #3d444d;
        border-radius: 5px;
        padding: 5px;
        transition: border-width 0.2s ease;
        cursor: pointer;
      }
      .copy-button:hover {
        background-color: #262c36;
      }
      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ['$', '$'],
            ['\\(', '\\)'],
          ],
          displayMath: [
            ['$$', '$$'],
            ['\\[', '\\]'],
          ],
        },
      }
    </script>
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js"
    ></script>
    <script type="text/javascript">
      function loadmd() {

        $.ajax({
          url: "/__/md?path=" + window.location.pathname.slice(1),
          success: function (result) {
            $("#markdown-body").html(result).promise().done(function(){
              var count = $("#markdown-body a").length;
              $("#markdown-body a").each(function(i){
              var a = $(this);
              if (a.attr("id") != undefined ) {
                var id = a.attr("id").replace("user-content-", "");
                a.attr("id", id);
              }
              if (i+1 === count) {
                if(location.hash) {
                  var url = location.href;
                  location.href = location.hash;
                  history.replaceState(null,null,url);
                }
              }
              MathJax.typeset();
            });
            $('div.highlight-source-mermaid > pre').each(function(i, pre) {
              pre.textContent = pre.textContent;
            });

            {{ if eq .Mode "dark" }}
              const mermaidJsTheme = 'dark';
            {{ else if eq .Mode "light" }}
              const mermaidJsTheme = 'default';
            {{ else }}
              const mermaidJsTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'default';
            {{ end }}
            mermaid.initialize({ startOnLoad: false, theme: mermaidJsTheme });
            mermaid.run({
              querySelector: 'div.highlight-source-mermaid > pre',
            });
            const copyIcon = `<svg aria-hidden="true" fill="none" height="18" shape-rendering="geometricPrecision" stroke="#9198a1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="18" style="color: #9198a1;"><path d="M8 17.929H6c-1.105 0-2-.912-2-2.036V5.036C4 3.91 4.895 3 6 3h8c1.105 0 2 .911 2 2.036v1.866m-6 .17h8c1.105 0 2 .91 2 2.035v10.857C20 21.09 19.105 22 18 22h-8c-1.105 0-2-.911-2-2.036V9.107c0-1.124.895-2.036 2-2.036z"></path></svg>`;
              const tickIcon = `<svg aria-hidden="true" fill="none" height="18" shape-rendering="geometricPrecision" stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="18" style="color: green;"><path d="M5 13l4 4L19 7"></path></svg>`;

              $('.markdown-body pre').each(function () {
                const pre = $(this);
                const code = pre.find('code');
                const button = $(`<button class="copy-button" aria-label="Copy code to clipboard">${copyIcon}</button>`);
                pre.css("position", "relative");
                pre.append(button);
                button.on('click', function () {
                  navigator.clipboard.writeText(code.text()).then(function () {
                    button.html(tickIcon).css({ "border-color": "green", "color": "green" });
                    setTimeout(() => {
                      button.html(copyIcon).css({ "background-color": "#212830", "border-color": "#3d444d", "color": "#9198a1" });
                    }, 1000);
                  }, function () {
                    alert('Failed to copy');
                  });
                });
              });
          })}
        })
      };
      (function () {
        var reload = false
        {{if .Reload}} reload = true {{end}}
        if (reload) {
          var conn = new WebSocket("ws://{{.Host}}/ws")
          conn.onopen = function () {
              conn.send('Ping');
          };
          conn.onerror = function (e) {
            console.log("Connection error " + e);
          };
          conn.onclose = function (e) {
            console.log("Connection closed " + e)
          }
          conn.onmessage = function (e) {
            if (e.data === "reload") {
              console.log("reload page!");
              loadmd();
            }
          }
        }
        loadmd();
      })()
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.1/mermaid.min.js"></script>
    <article id="markdown-body" class="markdown-body"></article>
  </body>
</html>
